

$tb : 16px;

$nav-link-size: 18px;

$nav-link-size-desktop-large : 5em;
$nav-logo-link-size-desktop-large :1em;

$nav-link-logo-size : 25px;

$nav-link-size-smartphone-portrait: 0.8em;

$nav-link-size-smartphone-landscape: 1em;

$nav-link-size-ipad-portrait: 20px;

$page-header-title-desktop: 33px;

$page-header-title-smartphone-p: 1.5em;
$page-header-title-smartphone-l: 1.5em;

$page-header-title-ipad: 33px;

$placeholder-desktop : 16px;
$placeholder-smartphone : 14px;
$placeholder-ipad : 16px;
$placeholder-desktop-small : 13px;